@page "/webapi"
@using System.Net.Http.Json
@inject HttpClient HttpClient


<h1>WebAPI</h1>


<p>
    <button class="btn btn-primary" @onclick="GetStepsAsync">Call</button>
    <button class="btn btn-primary" @onclick="Clear">Clear</button>
</p>

<p>
    <ul>
        @foreach (var step in _steps)
        {
            <li>@step</li>
        }
    </ul>
</p>
@code
{
    private IEnumerable<string> _steps = new List<string>();

    private void Clear()
    {
        _steps = new List<string>();
    }

    private async Task GetStepsAsync()
    {
        _steps = await HttpClient.GetFromJsonAsync<IEnumerable<string>>("test");
    }
}
