@namespace Gonis.Assistant.Server.Shared
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Gonis-Assistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="telegrambot">
                <span class="oi bi-telegram" aria-hidden="true"></span> Telegram Bot
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swagger" target="_blank">
                <span class="oi bi-truck" aria-hidden="true"></span> Swagger
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="webapi">
                <span class="oi bi-layers" aria-hidden="true"></span> WebAPI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="health">
                <span class="oi bi-heart-half" aria-hidden="true"></span> Health
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
